<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>

    <!--SAP Connection-->
    <add key="Name" value=""/>
    <add key="AppServerHost" value=""/>
    <add key="SystemNumber" value=""/>
    <add key="SystemID" value=""/>
    <add key="User" value=""/>
    <add key="Password" value=""/>
    <add key="Client" value=""/>
    <add key="Language" value=""/>
    <add key="PoolSize" value=""/>
    <add key="MaxPoolSize" value=""/>
    <add key="IdleTimeout" value=""/>
    <add key="RfcNamespace" value="TestRfc" />
    <add key="HelperNamespace" value="TestHelper" />

  </appSettings>
</configuration>